---

<center><h4>Double click here to install the wikipedia package if not already done</h4></center>
<!--
!pip install wikipedia
-->

---

<center><h3>Useful Imports</h3></center>
<!--
!pip install wikipedia
-->

In [1]:
import pandas as pd
import wikipedia as wp

---

In [2]:
# Get the table from wiki page
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html, header = 0)[0]

In [7]:
# Display first five rows of the raw dataframe
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

---

In [8]:
# Drops the rows with Borough of "Not assigned"
df_assigned = df[df.Borough != 'Not assigned']
df_assigned.head()
df_assigned.reset_index(drop = True, inplace = True)

In [9]:
#df_assigned.reset_index(inplace=True)
df_assigned.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
# Merge rows with the same Postcode
df_assigned = df_assigned.groupby(['Postal Code', 'Borough'], as_index=False).agg(lambda x: ', '.join(set(x)))

In [11]:
# Set 'Not assigned' Neigbourhood to be equal to Borough
mask = df_assigned['Neighborhood'] == 'Not assigned'
df_assigned.loc[mask, 'Neighborhood'] = df_assigned[mask].Borough

In [12]:
df_assigned[df_assigned['Postal Code'] == 'M7A']

   Postal Code           Borough                                 Neighborhood
85         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

---

In [13]:
df_assigned.head(12)

   Postal Code      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7          M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8          M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9          M1N  Scarborough                        Birch Cliff, Cliffside West
10         M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11         M1R  Scarborough                                  Wexford, Maryvale

In [14]:
df_assigned.to_csv(r'data/cleaned_data.csv', index=False)

---

In [16]:
# Show the shape of the df
df_assigned.shape

(103, 3)

---